.accordion-section .active{
    .accordion-button_arrow:after {
        transform: rotate(-90deg);
    }
 }
 
 .accordion-button {
     cursor: pointer;
    }
    .accordion-button_arrow:after {
        content: '';
        background: url("./icons/arrow-right.svg");
        font-size: 13px;
        color: #777;
        position: absolute;
        right: 15px;
        width: 8px;
        height: 15px;
        transform: rotate(90deg);
        transition: all 0.3s linear 0s;
    }

 .accordion-content {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
 }