.ds-text-1 {
    font-weight: 400;
    font-size: $_25px;
    line-height: 37px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_30px;
        line-height: 45px;
    }
}
.ds-text-2 {
    font-weight: 400;
    font-size: $_21px;
    line-height: 30px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_25px;
        line-height: 37px;
    }
}
.ds-text-3 {
    font-weight: 400;
    font-size: $_18px;
    line-height: 27px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_21px;
        line-height: 30px;
    }
    margin: 0;
}
.ds-text-4 {
    font-weight: 400;
    font-size: $_16px;
    line-height: 24px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_18px;
        line-height: 27px;
    }
}

.ds-text-5 {
    font-weight: 400;
    font-size: $_14px;
    line-height: 21px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_16px;
        line-height: 24px;
    }
}

.ds-text-6 {
    font-weight: 400;
    font-size: $_13px;
    line-height: 21px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_14px;
        line-height: 21px;
    }
    margin-bottom: 0;
}

.ds-text-7 {
    font-weight: 400;
    font-size: $_11px;
    line-height: 19px;
    @media (min-width: 992px) {
        font-weight: 400;
        font-size: $_12px;
        line-height: 18px;
    }
}
p.ds-text-7 {
    margin-bottom: 0;
}

.bold {
    font-weight: 500;
    @media (min-width: 992px) {
        font-weight: 500;
    }
}

.ds-text-5.bold {
    font-weight: 500;
}

.ds-text-3.bold {
    font-weight: 700;
}

.ds-text-1.bold {
    font-weight: 700;
    @media (min-width: 992px) {
        font-weight: 700;
    }
}